@use 'variables' as main;

.chevron {
    border-style: solid;
    border-width: 0.15em 0.15em 0 0;
    content: "";
    border-color: main.$primary !important;
    height: 0.45em;
    margin-left: 1rem;
    vertical-align: top;
    width: 0.45em;
    transform: rotate(135deg);
  }
  
.header-icons {
  gap: 15px;
}

.header-icon {
  padding: 10px;
  box-sizing: border-box;
  background-color: main.$primary;
  box-shadow: main.$box-shadow-gray;
  border-radius: 5px;
}

.header-icon-link {
  padding: 10px;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: main.$box-shadow-gray;
  border-radius: 5px;
  cursor: pointer;

}
