@use 'variables' as main;


.farm-forest-results {
  height: main.$content-height;
  width: 100%;
  padding-top: 5rem;
  background-color: #ffffff;
  overflow: auto;
}

.height {
  visibility: collapse;
  transition: all 0.2s;
}

.table{
  margin-top: 3rem; 
}

 