@use "variables" as main;

kkl-layout {
  width: 100%;
  height: 100;

  ::ng-deep {
    .sidenav-container {
      background-image: url("../../../../assets/images/background.jpg");
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}

app-stepper {
  background-color: main.color(paper);
  box-shadow: -3px 0px 12px #00000029;
  padding: main.spacing(1) 0 spacing(1) 0;
}

kkl-menu {
  width: 100%;
}
