@use "variables" as main;

.error {
  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    opacity: 1 !important;
    color: main.$warn;
  }
}

.success {
  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    opacity: 1 !important;
    color: #d1d1d1;
  }
}

.header-icons {
  gap: 15px;
}

.header-icon {
  padding: 10px;
  box-sizing: border-box;
  background-color: main.$primary;
  box-shadow: main.$box-shadow-gray;
  border-radius: 5px;
}

.header-icon-link {
  padding: 10px;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: main.$box-shadow-gray;
  border-radius: 5px;
  cursor: pointer;

}
